.aboutBack{
  /* background-color: #343A40 !important; */
  background: rgba(52, 58, 64);
  color: #21d192 !important;
  font-family: 'Quantico', sans-serif;
  border-radius: 10px;
<<<<<<< HEAD

=======
>>>>>>> d058085e81dc8298a817ccdc7dfa0ad2b4e4eebb
}