.aboutBack{
  /* background-color: #343A40 !important; */
  background: rgba(52, 58, 64);
  color: white !important;
  font-family: 'Quantico', sans-serif;
  border-radius: 10px;
}

.aboutBack a{
  /* background-color: #343A40 !important; */
  background: rgba(52, 58, 64);
  color: #fff !important;
  font-family: 'Quantico', sans-serif;
  border-radius: 10px;
}


.aboutBack a:hover{
  /* background-color: #343A40 !important; */
  background: rgba(52, 58, 64);
  color: #21d192 !important;
  font-family: 'Quantico', sans-serif;
  border-radius: 10px;
}

.animation{
  animation: animateGrid 0.5s;
}


@keyframes animateGrid {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}