.aboutBack{
  /* background-color: #343A40 !important; */
  background: rgba(52, 58, 64) !important;
  color: #21d192 !important;
  font-family: 'Quantico', sans-serif;
  border-radius: 10px;
}


.aboutBackReverse{
  background-color: #21d192 !important;
  color: #000000 !important;
  font-family: 'Quantico', sans-serif;
  border-radius: 10px;
}

.aboutFont{
  font-size: 18px;
}

.animation{
  animation: animateGrid 0.5s;
}


@keyframes animateGrid {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}